@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: lowercase;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


.header{
    top: 0;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
  
}
.header .logoContent{
    display: flex;
    align-items: left;
    float: left;
}
.header .logoContent .logo img{
    height: 4;
}
 
.logo5{
    display: flexbox;
}
.header .navbar{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    position: absolute;
    right: 0;
    

}
.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}

.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}
.header.logo5{
    display: flex;
    align-items: center;
}
.header.logo5 img{
    height: 50px;
    margin-left: 1rem;
}


#menu-bar{
    display: none;
    background-color: transparent;
}


.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(cakebac.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.home .homeContent{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}
.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.home .homeContent .home-btn{
    height: 3rem;
}
.home .homeContent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}
.home .homeContent .home-btn button:hover{
    font-size: 2rem;
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: var(--black);
}
.product {
    background: linear-gradient(to bottom, #e9dbc3, #fef5e7); /* Soft gradient */
    border: 60px solid #e9dbc3 ;
    
    border-radius: 10px;
    box-shadow: 0px 16px 10px rgba(0, 0, 0, 0.1);
}

.product .product-row{
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
}
.product .product-row .img img{
    height: 300px;
    width: 100%;
}
.product .product-row .img img:hover{
    transform: scale(1.1);
}
.product .product-row .content {
    margin-bottom: 4rem;
}
.product .product-row .product-content h3{
    font-size: 4rem;
    color: var(--black);
}
.product .product-row .product-content p{
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--black);
}
.product .product-row .box{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 3rem;
    margin-right: 3rem;
    box-shadow: 0 16px 16px 0 grey;
}
.product .product-row .img img{
    height: 100%;
    width: 70%;
}
#img1{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.product .product-row .img img:hover{
    transform: scale(1.1);
}
.product .product-row .box:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    .product .product-row .product-content .orderNow{
        height: 3rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .product .product-row .product-content .orderNow button{
        font-size: 1.8rem;
        background-color: var(--black);
        color: var(--white);
        border-radius: .7rem;
        padding: .7rem 2rem;
        cursor: pointer;
    }
    .product .product-row .product-content .orderNow button:hover{
        font-size: 2rem;
    }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f4;
}

header {
    background-color: #eef4e7;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 5px 0;
    font-style: italic;
}

.search-section form {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.search-section input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.search-section button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-section button:hover {
    background-color: darkorange;
}

.results-section {
    padding: 20px;
}

.results-section .recipes {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.recipe{
    
    background: linear-gradient(to bottom, #e9dbc3, #fef5e7); 
    border: 60px solid #e9dbc3 ;
    border-radius: 10px;
    box-shadow: 0px 16px 10px rgba(0, 0, 0, 0.1);
    
    
}
.recipe-card {
    background-color: var(--white);
    border: 1px solid #ddd;
    flex-direction: column;
    border-radius: 22px;
    padding: 15px;
    gap: 1.5rem;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    float: left;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.3s;
   
}

.recipe-card img:hover {
    transform: scale(1.05);
}

.recipe-card h3 {
    margin: 10px 0;
    font-size: 25px;
    color: #333;
}

.recipe-card button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.recipe-card button:hover {
    background-color: darkorange;
}
button{
    background-color: orange;
    color: white;
    border-radius: 20px;
    padding: 10px;
    
    
}
button:hover{
    background-color: orange;
    transform: scale(1.1);
    font-size: 1.5rem;
}
.review{
    background-color: lightgray;
}
.review .review-row{
    display: flex;
    flex-direction: column ;
    align-items: center;
    
}
.review .review-row .box{
    width: 50%; 
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 3rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.review .review-row .box .client-review{
    margin-bottom: 3rem;
}
.review .review-row .box .client-review p{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
}
.review .review-row .box .client-info{
    display: flex;
    align-items: center;
}
.review .review-row .box .client-info .img{
    padding-right: 3rem;
}
.review .review-row .box .client-info .img img{
    width: 7rem;
    height: 7rem;
    clip-path: circle(50% at 50% 50%);
}

.review .review-row .box .client-info .clientDetailed h3{
    font-size: 2.5rem;

}
.review .review-row .box .client-info .clientDetailed p{
    font-size: 1.5rem;
}

.fotter .contact{
    border: 2px solid #e9dbc3;
}
.footer {
    background-color: none;
    background-size: cover;
    background-position: center center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}
.footer .box-container .mainBox .content{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.footer .box-container .mainBox .content h1{
    font-size: 2rem;
    color: var(--black);
}
.footer .box-container .mainBox p{
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: 0.5rem;
    color: var(--black);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 0;
    text-align: center;
}
.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
    border-radius: 50%;

}
.footer .share a:hover{
    background: var(--white);
    color: var(--black);
}
.footer .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-align: center;
    
}
.swiper-pagination-bullet{
    background-color: var(--black);
}
.swiper-button-next{
    color: var(--black);
}
.swiper-button-prev{
    color: var(--black);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}